# STS experiments is not part of the true source,
# by default it is where the result of runs are written
experiments
# ignore the sts compiled binary
*.o
sts
sts_legacy_fft
# ignore mkapertemplate compiled binary
mkapertemplate
dataInfo
# vi ctags are not source
tags
# make depend backup
makefile.bak
Makefile.bak
# in case C is compiled without -o
a.out
# valgrind ignore
valrun
valgrind.out
# minivalgrind ignore
minivalrun
minivalgrind.out
# osxmalloc ignore
osxmalloc
# miniosxmalloc ignore
miniosxmalloc
# common testing ignore
RMME
# mac and ide stuff
.DS_Store
CMakeLists.txt
.idea
/cmake-build-debug/
result.txt
finalAnalysisReport.txt
freq.txt