# STS experiments is not part of the true source,
# by default it is where the result of runs are written
experiments
src/experiments
# ignore the sts compiled binary
assess
src/assess
# ignore mkapertemplate compiled binary
src/mkapertemplate
src/dataInfo
# vi ctags are not source
tags
# make depend backup
makefile.bak
src/makefile.bak
Makefile.bak
src/Makefile.bak
# in case C is compiled without -o
a.out
# valgrind ignore
src/valrun
src/valgrind.out
# minivalgrind ignore
src/minivalrun
src/minivalgrind.out
# osxmalloc ignore
src/osxmalloc
# miniosxmalloc ignore
src/miniosxmalloc
# common testing ignore
src/RMME
CMakeLists.txt
.idea
